In [1]:
import pandas as pd
from pymongo import MongoClient

client = MongoClient('mongodb://localhost:27017/')
db = client.companies

In [2]:
#Starting consuting time on Mongo DB

one_office = db.companies.find({    #Companies with at least 1 office
    "offices":{
        "$not":{
            "$size":0
        }
    }
},{"name":1, "offices":1})

one_office_df = pd.DataFrame(one_office)
#display(one_office_df)
print(one_office_df.shape)
one_office_df.columns

(13744, 3)

Index(['_id', 'name', 'offices'], dtype='object')

In [51]:
#Filtering with mongo
 
mongodata = db.companies.find( {"$and":[
                                {"offices.latitude": {"$exists": True}},
                                {"offices.latitude": {"$ne": None}},   
                                {"offices.longitude": {"$exists": True}},
                                {"offices.longitude": {"$ne": None}},
                                {"category_code": {"$exists": True}},
                                {"category_code": {"$ne": None}},   
                                {"founded_year": {"$exists": True}}, 
                                {"founded_year": {"$gte": 2009}},
                                {"total_money_raised": {"$exists": True}},
                                {"total_money_raised": {"$not":{"$size":0}}}, 
                                {"$or": [
                                {"category_code":  "design" } ,
                                {"category_code":  "nanotech" } , 
                                {"category_code":  "web" } , 
                                {"category_code":  "software" } , 
                                {"category_code":  "games_video" } , 
                                {"category_code":  "mobile" } , 
                                {"category_code":  "ecommerce" } ,
                                {"category_code":  "advertising" } ,
                                {"category_code":  "enterprise" } ,   
                                {"category_code":  "analytics" } ,   
                                {"category_code":  "photo_video" } ,   
                                {"category_code":  "biotech" } ]} ,
                                   
                                   
                                #{"category_code": { "tags": { "$in": ["videogame"] } }},
                                #{"category_code": { "tags": { "$in": ["design"] } }},
                                #{"category_code": { "tags": { "$in": ["nanotech"] } }}, 
                                #{"category_code": { "tags": { "$in": ["web"] } }}, 
                                #{"category_code": { "tags": { "$in": ["software"] } }}, 
                                #{"category_code": { "tags": { "$in": ["games_video"] } }}, 
                                #{"category_code": { "tags": { "$in": ["mobile"] } }}, 
                                #{"category_code": { "tags": { "$in": ["ecommerce"] } }},
                                #{"category_code": { "tags": { "$in": ["advertising"] } }},
                                #{"category_code": { "tags": { "$in": ["enterprise"] } }},   
                                #{"category_code": { "tags": { "$in": ["analytics"] } }},   
                                #{"category_code": { "tags": { "$in": ["photo_video"] } }},   
                                #{"category_code": { "tags": { "$in": ["biotech"] } }}, 
                                #{"category_code": { "tags": { "$in": ["hardware"] } }},   
                                ]
                                },
                                {
                               "_id": 0, "category_code": 1,"founded_year": 1, "name": 1, 
                               "number_of_employees": 1, "offices.country_code": 1, 
                               "offices.latitude": 1, "offices.longitude": 1, "total_money_raised": 1   
                                }
                            )

In [4]:
mongodata

In [5]:
mydataset = db.companies.find({"$and": 
                               [{"offices.latitude": {"$exists": True}}, 
                                {"offices.latitude": {"$ne": None}},
                                {"offices.longitude": {"$exists": True}}, 
                                {"offices.longitude": {"$ne": None}},
                                {"category_code": {"$exists": True}}, 
                                {"category_code": {"$ne": None}},
                                {"number_of_employees": {"$exists": True}}, 
                                {"number_of_employees": {"$ne": None}},
                                {"founded_year": {"$exists": True}}, 
                                {"founded_year": {"$gte": 2008}}]}, 
                              {"_id": 0, "category_code": 1,"founded_year": 1, "name": 1, 
                               "number_of_employees": 1, "offices.country_code": 1, 
                               "offices.latitude": 1, "offices.longitude": 1, "total_money_raised": 1})

In [52]:
df = pd.DataFrame(mongodata)
df

,category_code,founded_year,name,number_of_employees,offices,total_money_raised
0,web,2011,Mokitown,NaN,"[{'country_code': 'USA', 'latitude': 37.09024,...",$0
1,mobile,2010,GENWI,25.0,"[{'country_code': 'USA', 'latitude': 33.8171, ...",$7.1M
2,web,2013,Fixya,30.0,"[{'country_code': 'USA', 'latitude': 37.566879...",$8M
3,games_video,2009,alluc,7.0,"[{'country_code': 'DEU', 'latitude': 53.707739...",$0
4,enterprise,2010,Needium,15.0,"[{'country_code': 'CAN', 'latitude': 45.504930...",$1M
5,ecommerce,2011,RazorGator,NaN,"[{'country_code': 'USA', 'latitude': 34.047312...",$58.8M
6,advertising,2013,Advaliant,60.0,"[{'country_code': 'CAN', 'latitude': 43.646599...",$100k
7,games_video,2011,Social Gaming Network,100.0,"[{'country_code': 'USA', 'latitude': 37.446823...",$17.1M
8,analytics,2010,YouNoodle,18.0,"[{'country_code': 'USA', 'latitude': 37.776658...",$0
9,games_video,2009,Crootpad,2.0,"[{'country_code': 'USA', 'latitude': 42.091078...",$0
10,mobile,2012,Skydeck,9.0,"[{'country_code': 'USA', 'latitude': 37.564537...",$4M
11,enterprise,2009,Ninite,2.0,"[{'country_code': 'USA', 'latitude': 37.789349...",$0
12,games_video,2009,Handipoints,NaN,"[{'country_code': 'USA', 'latitude': 37.772323...",$800k
13,mobile,2011,Moblica,NaN,"[{'country_code': 'ISR', 'latitude': 32.0554, ...",$6M
14,ecommerce,2010,Magento,275.0,"[{'country_code': 'USA', 'latitude': 34.052187...",$22.5M
15,software,2009,Macroaxis,8.0,"[{'country_code': 'USA', 'latitude': 37.789629...",$0
16,mobile,2012,Jumbuck Entertainment,NaN,"[{'country_code': 'AUS', 'latitude': -37.81774...",$0
17,web,2010,Pixsta,NaN,"[{'country_code': 'GBR', 'latitude': 51.51819,...",£3M
18,web,2009,Supercool School,3.0,"[{'country_code': 'USA', 'latitude': 37.754332...",$100k
19,games_video,2011,Fuzz,6.0,"[{'country_code': 'USA', 'latitude': 37.760524...",$0
20,web,2009,BrandYourself,22.0,"[{'country_code': 'USA', 'latitude': 42.275263...",$1.5M
21,web,2010,CollegeConvo,2.0,"[{'country_code': 'USA', 'latitude': 40.650291...",$0
22,software,2012,Carfeine,5.0,"[{'country_code': 'USA', 'latitude': 38.989124...",$0
23,web,2011,Ziippi,6.0,"[{'country_code': 'USA', 'latitude': 37.444098...",$0
24,games_video,2009,Vusion,NaN,"[{'country_code': 'USA', 'latitude': 37.412069...",$0
25,games_video,2010,Titan Gaming,18.0,"[{'country_code': 'USA', 'latitude': 53.544711...",$1M
26,software,2009,BitRock,20.0,"[{'country_code': 'USA', 'latitude': 37.78424,...",$0
27,software,2010,JumpForward,30.0,"[{'country_code': 'USA', 'latitude': 41.857204...",$0
28,analytics,2013,Gimigo,4.0,"[{'country_code': 'USA', 'latitude': 44.859587...",$0
29,software,2010,OTOY,NaN,"[{'country_code': 'USA', 'latitude': 34.15761,...",$0
...,...,...,...,...,...,...
237,mobile,2009,Layar,32.0,"[{'country_code': 'NLD', 'latitude': 52.365757...",$13.4M
238,web,2009,GatherSource,NaN,"[{'country_code': 'USA', 'latitude': 47.909156...",$0
239,software,2009,Taxi Fares app,5.0,"[{'country_code': 'ESP', 'latitude': 40.424458...",$0
240,biotech,2009,Actinobac Biomed,NaN,"[{'country_code': 'USA', 'latitude': 40.455501...",$600k
241,software,2009,Lipperhey,6.0,"[{'country_code': 'NLD', 'latitude': 52.365557...",€200k
242,ecommerce,2010,ticketea,NaN,"[{'country_code': 'ESP', 'latitude': 40.445515...",$5.73M
243,mobile,2009,Wikitude,20.0,"[{'country_code': 'AUT', 'latitude': 47.8227, ...",$0
244,advertising,2009,ZOOMcatalog,7.0,"[{'country_code': 'USA', 'latitude': 40.003146...",$0
245,mobile,2009,vooch,NaN,"[{'country_code': 'AUT', 'latitude': 48.115439...",$0
246,ecommerce,2009,Truckeo,NaN,"[{'country_code': 'USA', 'latitude': 32.230644...",$0
247,web,2009,Vortimer,2.0,"[{'country_code': 'USA', 'latitude': 38.905504...",$0
248,mobile,2009,Myhive,6.0,"[{'country_code': 'GBR', 'latitude': 51.551468...",$0
249,web,2009,TwtBks,3.0,"[{'country_code': 'USA', 'latitude': 37.761101...",$25k
250,web,2009,140Ware,3.0,"[{'country_code': 'PRI', 'latitude': 18.206634...",$0
251,web,2009,Asyus,7.0,"[{'country_code': 'USA', 'latitude': 37.241813...",$0
252,software,2009,LugIron Software,10.0,"[{'country_code': 'USA', 'latitude': 30.305809...",$0
253,software,2009,Easter Egg,NaN,"[{'country_code': 'ITA', 'latitude': 45.464951...",$0
254,web,2009,ChallengePost,17.0,"[{'country_code': 'USA', 'latitude': 40.740804...",$4.6M
255,web,2009,Revetto,NaN,"[{'country_code': 'USA', 'latitude': 42.813864...",$20k
256,ecommerce,2009,Clickom,11.0,"[{'country_code': 'CAN', 'latitude': 43.650299...",$0
257,software,2009,ftopia,7.0,"[{'country_code': 'FRA', 'latitude': 53.332814...",$0
258,software,2009,Tiverias Apps,20.0,"[{'country_code': 'USA', 'latitude': 42.367287...",$0
259,web,2009,HOTForms123,2.0,"[{'country_code': 'USA', 'latitude': 34.069891...",$0
260,mobile,2009,pTracker,2.0,"[{'country_code': 'USA', 'latitude': 30.268735...",$0
261,ecommerce,2009,Bookwhen,2.0,"[{'country_code': 'GBR', 'latitude': 51.771426...",$0
262,games_video,2009,Tiny Speck,45.0,"[{'country_code': 'CAN', 'latitude': 49.282455...",$17.2M
263,advertising,2009,InstantQ,3.0,"[{'country_code': 'USA', 'latitude': 37.369195...",$0
264,mobile,2009,acrossair,6.0,"[{'country_code': 'GBR', 'latitude': 51.517742...",$0
265,mobile,2009,Getyoo,10.0,"[{'country_code': 'BEL', 'latitude': 50.83997,...",€1.13M
266,software,2009,Oriact,NaN,"[{'country_code': 'CHE', 'latitude': 47.088219...",$0

In [7]:
def getFirstOffice(data):
    data = data['offices']
    #Only create the geoJSON object if all geodata is available
    principal = None
    if data[0]['latitude'] and data[0]['longitude']:
        principal = {
            "type":"Point",
            "coordinates":[data[0]['longitude'], data[0]['latitude']]
        }
    return {
        "totalOffices": len(data),
        "lat": data[0]['latitude'],
        "lng": data[0]['longitude'],
        "oficina_principal": principal
    }


first_office = one_office_df[["offices"]].apply(getFirstOffice, result_type = "expand", axis = 1)
print(first_office.shape)
display(first_office.head())

(13744, 4)

,lat,lng,oficina_principal,totalOffices
0,37.692934,-121.904945,"{'type': 'Point', 'coordinates': [-121.904945,...",1.0
1,47.603122,-122.333253,"{'type': 'Point', 'coordinates': [-122.333253,...",2.0
2,37.692934,-121.904945,"{'type': 'Point', 'coordinates': [-121.904945,...",1.0
3,NaN,NaN,NaN,1.0
4,34.090368,-118.393064,"{'type': 'Point', 'coordinates': [-118.393064,...",1.0

In [8]:
df_clean = pd.concat([one_office_df,first_office], axis=1)[["name","lat","lng", "oficina_principal","totalOffices"]]

display(df_clean.head())

,name,lat,lng,oficina_principal,totalOffices
0,AdventNet,37.692934,-121.904945,"{'type': 'Point', 'coordinates': [-121.904945,...",1.0
1,Wetpaint,47.603122,-122.333253,"{'type': 'Point', 'coordinates': [-122.333253,...",2.0
2,Zoho,37.692934,-121.904945,"{'type': 'Point', 'coordinates': [-121.904945,...",1.0
3,Omnidrive,NaN,NaN,NaN,1.0
4,Geni,34.090368,-118.393064,"{'type': 'Point', 'coordinates': [-118.393064,...",1.0

In [9]:
def drop_null(df):
    return df.dropna(axis=0)

In [10]:
df_cleaned = df_clean.dropna()

In [11]:
df_cleaned.head()
df_cleaned.shape

(9618, 5)